<html>

<head>
    <title>
        Sample application
    </title>
    <link rel="stylesheet" href="https://unpkg.com/@coreui/coreui/dist/css/coreui.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>



</head>


<body>
    <div id="app">

        <!-- template used for modal to show the details of the selected post -->
        <template id="modalTemplate">
            <transition name="modal">
                <div class="modal-mask">
                    <div class="modal-wrapper">
                        <div class="modal-container">

                            <div class="modal-header">
                                <slot name="header">
                                    {{selectedPost.title}} - {{selectedPost.id}}
                                </slot>
                            </div>

                            <div class="modal-body">
                                <slot name="body">
                                    default body
                                </slot>
                            </div>

                            <div class="modal-footer">
                                <slot name="footer">
                                    default footer
                                    <button class="modal-default-button" @click="$emit('close')">
                OK
              </button>
                                </slot>
                            </div>
                        </div>
                    </div>
                </div>
            </transition>
        </template>
        <!--End of template-->

        <!--List of users names that will be viewed when the page is loaded -->
        <div class="accordion" id="accordion" v-for="user in usersInfo">
            <div class="card">
                <div class="card-header" v-bind:id="user.id">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" v-bind:data-target="'#posts'+user.id" aria-expanded="false" v-bind:aria-controls="user.id" v-on:click='getPosts(user)'>
         {{user.name}}
        </button>
                    </h5>
                </div>
                <!--List of posts published by the selected user-->
                <div v-bind:id="'posts'+user.id" class="collapse collapsed" v-bind:aria-labelledby="user.id" data-parent="#accordion">
                    <div class="card-body">
                        <ol>
                            <li v-for="userPost in userPosts">
                                <div class="h5" @click="selectedPost=userPost; openModal(userPost)">{{userPost.title}} - {{userPost.id}}</div>

                            </li>

                        </ol>
                        <modal :show.sync="showModal"  :selectedPost="selectedPost">Post Details</modal>
                    </div>
                </div>
                <!--End of posts list-->
            </div>
        </div>
        <!--End of users list-->

    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/@coreui/coreui/dist/js/coreui.min.js"></script>
    <script src="app.js"></script>


</body>

</html>